@tailwind base;
@tailwind components;
@tailwind utilities;


@import "tailwindcss";

.scrollbar-none::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar but keep scrolling */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    /* IE & Edge */
    scrollbar-width: none;
    /* Firefox */
}

.no-scrollbar {
    scroll-behavior: smooth;
}

html,
body {
    overflow-x: hidden;
}